.dark-theme .wrapper-userpage {
    background-color: #5E5E5E;
}

.light-theme .wrapper-userpage {
    background-color: #F1F1F1;
}

.wrapper-userpage{
    width: 400px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    margin: 50px auto;
}

.wrapper-userpage h1{
    font-size: 25px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    margin:10px 10px 20px 10px;
}

.wrapper-userpage h4{
    font-size: 18px;
    padding: 0;
    text-transform: uppercase;
    margin:20px 10px 10px 0;
    color: #3771c7;
}

.wrapper-userpage span{
    font-weight: bold;
    color: #3771c7;
}

/* .img{
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px 10px 0px 10px;
}

.image-div{
    padding: 5px;
    width: 50%;
    margin-bottom: 5px ;
} */

.dark-theme .wrapper-userpage span,
.dark-theme .wrapper-userpage h4 {
    color: #92B3E5;
}
/* kopit asac stex asum enq.. ete elementy uni ays class-y ev  ayd elementi mej ka ays class-y uremn tox ynduni ays hatkurtyunnery */