html, body {
    padding: 0;
    margin: 0;
}

.darkTheme {
    background-color: black;
    color: white;
}

.lightTheme {
    background-color: white;
    color: black;
}

.app {
    height: 100vh;
}