.darkTheme .registerPageWrapper{
    background-color: #ffffff;
}

.lightTheme .registerPageWrapper{
    background-color: #d8d8d8;
}

.registerPageWrapper {
    width: 400px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    margin: 50px auto;
}

.sign {
    font-size: 25px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.registerInput{
    padding: 5px 10px 5px 0;
    margin-top: 10px;

}

.registerInput label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.fileInputDiv input[type='file']{
    display: none;
}

.label{
    background-color: #a4ff98;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
}

.label:hover{
    cursor: pointer;
    background-color: #85ff75;
}

.btn{
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #179407;
    transition: all 0.5s ease;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
}

.btn:hover{
    cursor: pointer;
    background-color: #20c70a;
}

.registerInput input{
    display: block;
    outline: none;
    border: 1px solid #dddddd;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

.errorAlert {
    padding: 7px 20px;
    background-color: #BC3434;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #832020;
    margin: 10px 0;
    border-radius: 5px;
}
.errorAlert span {
    display: block;
    padding: 3px 0;
}

.darkTheme .registerInput label, 
.darkTheme .sign{
    color: black;
}